In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv('train2.csv', index_col ='Unnamed: 0')

In [4]:
data

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/46370,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1969,10.0,2015,1,0,52,NIGER,Yes,Married,No,No,1,0
1,YAK/S/27283,Business Finance Operations,First Degree or HND,Female,Direct Internal process,2,1990,5.0,2012,0,0,53,PLATEAU,Yes,Married,No,Yes,0,0
2,YAK/S/27280,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1985,10.0,2011,1,0,74,ONDO,Yes,Married,No,No,5,0
3,YAK/S/27279,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1990,7.5,2014,1,0,43,LAGOS,Yes,Married,No,No,1,0
4,YAK/S/27278,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,5,1988,12.5,2012,0,0,73,FCT,Yes,Married,No,Yes,1,1
5,YAK/S/27277,Sourcing and Purchasing,First Degree or HND,Female,Agency and others,3,1992,7.5,2016,1,1,64,NASSARAWA,Yes,Married,No,No,1,0
6,YAK/S/27276,Research and Innovation,First Degree or HND,Male,Agency and others,2,1990,10.0,2014,1,0,76,NASSARAWA,Yes,Married,No,No,0,0
7,YAK/S/27274,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,3,1991,10.0,2017,1,0,60,OSUN,No,Married,No,No,1,0
8,YAK/S/27273,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2015,1,0,67,EKITI,Yes,Married,No,No,1,0
9,YAK/S/27272,Information and Strategy,First Degree or HND,Male,Agency and others,2,1985,7.5,2017,0,0,79,KEBBI,Yes,Married,No,Yes,0,0
10,YAK/S/27285,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1968,2.5,2000,0,0,74,CROSS RIVER,Yes,Married,No,No,5,0
11,YAK/S/27271,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1989,12.5,2017,1,0,60,LAGOS,Yes,Married,No,No,1,0
12,YAK/S/46374,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1988,7.5,2009,1,0,68,ENUGU,Yes,Single,No,No,0,1
13,YAK/S/27266,Business Finance Operations,First Degree or HND,Female,Direct Internal process,2,1993,7.5,2017,0,0,48,KANO,Yes,Married,No,No,1,0
14,YAK/S/27264,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1986,7.5,2015,0,0,76,IMO,Yes,Married,No,No,1,0
15,YAK/S/27262,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1985,12.5,2010,1,0,41,SOKOTO,Yes,Married,No,No,0,0
16,YAK/S/27261,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1979,2.5,2014,1,0,43,OGUN,Yes,Married,No,Yes,0,0
17,YAK/S/27260,People/HR Management,First Degree or HND,Female,Agency and others,2,1987,5.0,2012,1,0,45,ANAMBRA,Yes,Married,No,Yes,0,0
18,YAK/S/27259,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1983,7.5,2012,0,0,72,ONDO,No,Married,No,No,1,0
19,YAK/S/27258,Information and Strategy,First Degree or HND,Female,Direct Internal process,2,1995,7.5,2015,0,0,78,ENUGU,Yes,Single,No,No,1,0
20,YAK/S/27256,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1988,7.5,2014,0,0,71,FCT,Yes,Married,Yes,No,0,0
21,YAK/S/27254,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1993,7.5,2015,0,0,39,PLATEAU,Yes,Married,No,No,0,0
22,YAK/S/27268,Information and Strategy,First Degree or HND,Female,Direct Internal process,2,1992,12.5,2017,1,0,74,PLATEAU,Yes,Single,No,No,0,0
23,YAK/S/27252,Research and Innovation,First Degree or HND,Male,Direct Internal process,2,1989,7.5,2012,0,0,72,PLATEAU,Yes,Married,No,No,0,0
24,YAK/S/46368,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1991,10.0,2017,0,0,40,LAGOS,Yes,Married,No,No,1,0
25,YAK/S/46364,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,2001,12.5,2017,0,0,40,LAGOS,Yes,Married,No,No,1,0
26,YAK/S/27321,Information and Strategy,First Degree or HND,Male,Agency and others,2,1990,12.5,2011,1,0,80,FCT,No,Married,No,No,0,0
27,YAK/S/27319,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1965,7.5,2001,0,0,42,OYO,Yes,Married,No,No,4,0
28,YAK/S/27318,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1978,2.5,2014,0,0,45,FCT,Yes,Married,No,No,More than 5,0
29,YAK/S/27317,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1994,0.0,2018,1,0,41,KANO,No,Married,No,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38280,YAK/S/53894,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1997,0.0,2018,0,0,39,ANAMBRA,Yes,Married,No,No,3,0
38281,YAK/S/53970,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,2.5,2017,0,0,44,OYO,Yes,Married,No,No,0,0
38282,YAK/S/54001,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1981,2.5,2014,0,0,37,RIVERS,Yes,Married,No,No,0,0
38283,YAK/S/54008,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,7.5,2017,1,0,41,KADUNA,Yes,Single,No,No,1,0
38284,YAK/S/54030,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1989,7.5,2012,0,0,51,LAGOS,No,Married,No,Yes,1,0
38285,YAK/S/54040,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1981,10.0,2012,0,0,41,NASSARAWA,Yes,Married,No,No,0,0
38286,YAK/S/54173,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,5.0,2014,1,0,39,ZAMFARA,Yes,Married,No,Yes,0,0
38287,YAK/S/54284,Commercial Sales and Marketing,First Degree or HND,Female,Agency and others,2,1994,10.0,2017,0,0,40,LAGOS,Yes,Married,No,No,0,0
38288,YAK/S/54350,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1993,12.5,2013,1,0,44,ANAMBRA,Yes,Married,No,Yes,0,0
38289,YAK/S/54365,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1991,10.0,2016,0,0,41,KADUNA,Yes,Married,No,No,0,0
38290,YAK/S/54384,Information and Strategy,"MSc, MBA and PhD",Male,Agency and others,2,1989,10.0,2014,1,0,69,KATSINA,Yes,Married,No,No,1,0
38291,YAK/S/54414,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1986,7.5,2012,0,1,71,KOGI,No,Single,No,No,0,0
38292,YAK/S/54433,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1982,7.5,2007,0,0,74,KANO,Yes,Married,No,Yes,0,0
38293,YAK/S/54445,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1998,7.5,2017,0,0,43,KADUNA,Yes,Married,No,No,1,0
38294,YAK/S/54461,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,10.0,2017,1,0,73,CROSS RIVER,Yes,Single,No,No,4,0
38295,YAK/S/54479,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1990,7.5,2015,0,0,39,LAGOS,No,Married,No,No,2,0
38296,YAK/S/54493,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,10.0,2016,1,0,77,RIVERS,Yes,Single,No,No,1,0
38297,YAK/S/54502,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Direct Internal process,2,1971,7.5,2000,0,0,50,ENUGU,Yes,Married,No,No,1,0
38298,YAK/S/54547,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1981,7.5,2007,0,0,48,FCT,Yes,Single,No,No,1,0
38299,YAK/S/54554,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,12.5,2009,1,0,74,GOMBE,Yes,Married,No,No,1,0
38300,YAK/S/54564,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1986,12.5,2010,0,0,42,ZAMFARA,Yes,Married,No,No,0,0
38301,YAK/S/54584,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,2.5,2017,0,0,77,ANAMBRA,Yes,Single,No,No,0,0
38302,YAK/S/54588,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1994,5.0,2018,0,0,51,ANAMBRA,Yes,Married,No,No,0,0
38303,YAK/S/54597,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1985,2.5,2014,0,0,41,ABIA,Yes,Married,No,No,1,0
38304,YAK/S/54607,Information and Strategy,"MSc, MBA and PhD",Male,Direct Internal process,2,1990,5.0,2013,0,0,73,OYO,Yes,Married,No,No,1,0
38305,YAK/S/54656,Information and Strategy,First Degree or HND,Male,Agency and others,3,1996,10.0,2016,0,0,75,LAGOS,Yes,Married,No,No,0,0
38306,YAK/S/54672,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1994,7.5,2017,0,0,76,OSUN,Yes,Married,No,No,0,0
38307,YAK/S/54693,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1986,7.5,2012,0,0,45,EDO,Yes,Married,No,No,0,0
38308,YAK/S/54730,People/HR Management,First Degree or HND,Female,Agency and others,2,1993,7.5,2017,0,0,45,RIVERS,Yes,Married,No,No,1,0
38309,YAK/S/54807,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1992,2.5,2017,0,0,37,KWARA,Yes,Married,No,No,1,0

In [9]:
data.dtypes

EmployeeNo                              object
Division                                object
Qualification                           object
Gender                                  object
Channel_of_Recruitment                  object
Trainings_Attended                       int64
Year_of_birth                            int64
Last_performance_score                 float64
Year_of_recruitment                      int64
Targets_met                              int64
Previous_Award                           int64
Training_score_average                   int64
State_Of_Origin                         object
Foreign_schooled                        object
Marital_Status                          object
Past_Disciplinary_Action                object
Previous_IntraDepartmental_Movement     object
No_of_previous_employers                object
Promoted_or_Not                          int64
dtype: object

In [5]:
data.isnull().sum()

EmployeeNo                             0
Division                               0
Qualification                          0
Gender                                 0
Channel_of_Recruitment                 0
Trainings_Attended                     0
Year_of_birth                          0
Last_performance_score                 0
Year_of_recruitment                    0
Targets_met                            0
Previous_Award                         0
Training_score_average                 0
State_Of_Origin                        0
Foreign_schooled                       0
Marital_Status                         0
Past_Disciplinary_Action               0
Previous_IntraDepartmental_Movement    0
No_of_previous_employers               0
Promoted_or_Not                        0
dtype: int64

In [119]:
data.describe(include = 'all')

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
count,38310,38310,38310,38310,38310,38310.000000,38310.000000,38310.000000,38310.000000,38310.000000,38310.000000,38310.000000,38310,38310,38310,38310,38310,38310,38310.000000
unique,38310,9,3,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,2,3,2,2,7,NaN
top,YAK/S/10846,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAGOS,Yes,Married,No,No,1,NaN
freq,1,11695,26961,26878,21309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6204,34993,31021,38159,34707,18866,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.253694,1986.209293,7.699034,2013.139807,0.353015,0.023153,55.367006,NaN,NaN,NaN,NaN,NaN,NaN,0.084599
std,NaN,NaN,NaN,NaN,NaN,0.609456,7.646077,3.744121,4.261479,0.477914,0.150392,13.362848,NaN,NaN,NaN,NaN,NaN,NaN,0.278288
min,NaN,NaN,NaN,NaN,NaN,2.000000,1950.000000,0.000000,1982.000000,0.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,2.000000,1982.000000,5.000000,2012.000000,0.000000,0.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,2.000000,1988.000000,7.500000,2014.000000,0.000000,0.000000,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,2.000000,1992.000000,10.000000,2016.000000,1.000000,0.000000,68.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,11.000000,2001.000000,12.500000,2018.000000,1.000000,1.000000,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [120]:
data = data.drop('EmployeeNo',axis=1)
# data = data.drop('Past_Disciplinary_Action',axis=1)

In [121]:
data

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1969,10.0,2015,1,0,52,NIGER,Yes,Married,No,No,1,0
1,Business Finance Operations,First Degree or HND,Female,Direct Internal process,2,1990,5.0,2012,0,0,53,PLATEAU,Yes,Married,No,Yes,0,0
2,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1985,10.0,2011,1,0,74,ONDO,Yes,Married,No,No,5,0
3,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1990,7.5,2014,1,0,43,LAGOS,Yes,Married,No,No,1,0
4,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,5,1988,12.5,2012,0,0,73,FCT,Yes,Married,No,Yes,1,1
5,Sourcing and Purchasing,First Degree or HND,Female,Agency and others,3,1992,7.5,2016,1,1,64,NASSARAWA,Yes,Married,No,No,1,0
6,Research and Innovation,First Degree or HND,Male,Agency and others,2,1990,10.0,2014,1,0,76,NASSARAWA,Yes,Married,No,No,0,0
7,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,3,1991,10.0,2017,1,0,60,OSUN,No,Married,No,No,1,0
8,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2015,1,0,67,EKITI,Yes,Married,No,No,1,0
9,Information and Strategy,First Degree or HND,Male,Agency and others,2,1985,7.5,2017,0,0,79,KEBBI,Yes,Married,No,Yes,0,0
10,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1968,2.5,2000,0,0,74,CROSS RIVER,Yes,Married,No,No,5,0
11,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1989,12.5,2017,1,0,60,LAGOS,Yes,Married,No,No,1,0
12,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1988,7.5,2009,1,0,68,ENUGU,Yes,Single,No,No,0,1
13,Business Finance Operations,First Degree or HND,Female,Direct Internal process,2,1993,7.5,2017,0,0,48,KANO,Yes,Married,No,No,1,0
14,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1986,7.5,2015,0,0,76,IMO,Yes,Married,No,No,1,0
15,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1985,12.5,2010,1,0,41,SOKOTO,Yes,Married,No,No,0,0
16,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1979,2.5,2014,1,0,43,OGUN,Yes,Married,No,Yes,0,0
17,People/HR Management,First Degree or HND,Female,Agency and others,2,1987,5.0,2012,1,0,45,ANAMBRA,Yes,Married,No,Yes,0,0
18,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1983,7.5,2012,0,0,72,ONDO,No,Married,No,No,1,0
19,Information and Strategy,First Degree or HND,Female,Direct Internal process,2,1995,7.5,2015,0,0,78,ENUGU,Yes,Single,No,No,1,0
20,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1988,7.5,2014,0,0,71,FCT,Yes,Married,Yes,No,0,0
21,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1993,7.5,2015,0,0,39,PLATEAU,Yes,Married,No,No,0,0
22,Information and Strategy,First Degree or HND,Female,Direct Internal process,2,1992,12.5,2017,1,0,74,PLATEAU,Yes,Single,No,No,0,0
23,Research and Innovation,First Degree or HND,Male,Direct Internal process,2,1989,7.5,2012,0,0,72,PLATEAU,Yes,Married,No,No,0,0
24,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1991,10.0,2017,0,0,40,LAGOS,Yes,Married,No,No,1,0
25,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,2001,12.5,2017,0,0,40,LAGOS,Yes,Married,No,No,1,0
26,Information and Strategy,First Degree or HND,Male,Agency and others,2,1990,12.5,2011,1,0,80,FCT,No,Married,No,No,0,0
27,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1965,7.5,2001,0,0,42,OYO,Yes,Married,No,No,4,0
28,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1978,2.5,2014,0,0,45,FCT,Yes,Married,No,No,More than 5,0
29,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1994,0.0,2018,1,0,41,KANO,No,Married,No,No,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38280,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1997,0.0,2018,0,0,39,ANAMBRA,Yes,Married,No,No,3,0
38281,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,2.5,2017,0,0,44,OYO,Yes,Married,No,No,0,0
38282,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1981,2.5,2014,0,0,37,RIVERS,Yes,Married,No,No,0,0
38283,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,7.5,2017,1,0,41,KADUNA,Yes,Single,No,No,1,0
38284,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1989,7.5,2012,0,0,51,LAGOS,No,Married,No,Yes,1,0
38285,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1981,10.0,2012,0,0,41,NASSARAWA,Yes,Married,No,No,0,0
38286,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,5.0,2014,1,0,39,ZAMFARA,Yes,Married,No,Yes,0,0
38287,Commercial Sales and Marketing,First Degree or HND,Female,Agency and others,2,1994,10.0,2017,0,0,40,LAGOS,Yes,Married,No,No,0,0
38288,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1993,12.5,2013,1,0,44,ANAMBRA,Yes,Married,No,Yes,0,0
38289,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1991,10.0,2016,0,0,41,KADUNA,Yes,Married,No,No,0,0
38290,Information and Strategy,"MSc, MBA and PhD",Male,Agency and others,2,1989,10.0,2014,1,0,69,KATSINA,Yes,Married,No,No,1,0
38291,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1986,7.5,2012,0,1,71,KOGI,No,Single,No,No,0,0
38292,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1982,7.5,2007,0,0,74,KANO,Yes,Married,No,Yes,0,0
38293,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1998,7.5,2017,0,0,43,KADUNA,Yes,Married,No,No,1,0
38294,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,10.0,2017,1,0,73,CROSS RIVER,Yes,Single,No,No,4,0
38295,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1990,7.5,2015,0,0,39,LAGOS,No,Married,No,No,2,0
38296,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,10.0,2016,1,0,77,RIVERS,Yes,Single,No,No,1,0
38297,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Direct Internal process,2,1971,7.5,2000,0,0,50,ENUGU,Yes,Married,No,No,1,0
38298,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1981,7.5,2007,0,0,48,FCT,Yes,Single,No,No,1,0
38299,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,12.5,2009,1,0,74,GOMBE,Yes,Married,No,No,1,0
38300,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1986,12.5,2010,0,0,42,ZAMFARA,Yes,Married,No,No,0,0
38301,Information and Strategy,First Degree or HND,Male,Agency and others,2,1996,2.5,2017,0,0,77,ANAMBRA,Yes,Single,No,No,0,0
38302,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1994,5.0,2018,0,0,51,ANAMBRA,Yes,Married,No,No,0,0
38303,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1985,2.5,2014,0,0,41,ABIA,Yes,Married,No,No,1,0
38304,Information and Strategy,"MSc, MBA and PhD",Male,Direct Internal process,2,1990,5.0,2013,0,0,73,OYO,Yes,Married,No,No,1,0
38305,Information and Strategy,First Degree or HND,Male,Agency and others,3,1996,10.0,2016,0,0,75,LAGOS,Yes,Married,No,No,0,0
38306,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1994,7.5,2017,0,0,76,OSUN,Yes,Married,No,No,0,0
38307,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1986,7.5,2012,0,0,45,EDO,Yes,Married,No,No,0,0
38308,People/HR Management,First Degree or HND,Female,Agency and others,2,1993,7.5,2017,0,0,45,RIVERS,Yes,Married,No,No,1,0
38309,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1992,2.5,2017,0,0,37,KWARA,Yes,Married,No,No,1,0

In [122]:
df_0= data[data['Promoted_or_Not']==0]
df_1 = data[data['Promoted_or_Not']==1]

In [123]:
data.Promoted_or_Not.value_counts()

0    35069
1     3241
Name: Promoted_or_Not, dtype: int64

In [124]:
df1 = df_0.sample(7000,replace = False,)

In [125]:
df = pd.concat([df1,df_1], axis=0)
df

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
19463,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1988,12.5,2011,1,0,43,EDO,Yes,Married,No,No,1,0
31252,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1977,10.0,2013,0,0,40,BENUE,Yes,Married,No,No,1,0
18175,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1974,7.5,2003,0,0,72,DELTA,Yes,Married,No,No,1,0
6798,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,2,1998,0.0,2018,0,0,53,ANAMBRA,Yes,Married,No,No,0,0
30746,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Agency and others,2,1963,7.5,1988,0,0,64,ANAMBRA,Yes,Married,No,No,0,0
18314,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,4,1978,12.5,2017,0,0,62,DELTA,Yes,Married,No,No,0,0
1961,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1985,12.5,2011,1,0,69,RIVERS,Yes,Married,No,No,1,0
5518,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1990,2.5,2012,0,0,71,OSUN,No,Single,No,No,0,0
9878,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1987,10.0,2014,0,0,51,DELTA,Yes,Single,No,No,1,0
11820,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1991,10.0,2017,0,0,74,OGUN,Yes,Married,No,No,0,0
1254,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1985,5.0,2012,0,0,56,DELTA,Yes,Married,No,No,3,0
13266,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1984,7.5,2015,0,0,50,LAGOS,Yes,Married,No,No,0,0
13695,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1996,10.0,2017,1,0,76,ANAMBRA,Yes,Married,No,Yes,1,0
14850,Information and Strategy,First Degree or HND,Female,Direct Internal process,2,1991,0.0,2018,1,0,77,RIVERS,Yes,Married,No,No,4,0
9026,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1994,7.5,2014,1,0,54,KANO,Yes,Married,No,No,1,0
6924,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1976,7.5,2016,0,0,51,LAGOS,Yes,Married,No,No,4,0
15872,Business Finance Operations,First Degree or HND,Male,Direct Internal process,3,1994,12.5,2017,0,0,55,KATSINA,Yes,Married,No,No,0,0
35079,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1974,5.0,2007,0,0,45,ABIA,Yes,Single,No,Yes,4,0
278,Regulatory and Legal services,First Degree or HND,Male,Agency and others,2,1975,12.5,2008,1,0,54,CROSS RIVER,Yes,Single,No,No,1,0
28308,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,3,1981,10.0,2014,0,0,43,IMO,Yes,Married,No,No,0,0
28572,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Agency and others,3,1988,7.5,2013,1,0,57,KADUNA,Yes,Married,No,No,0,0
9023,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1994,10.0,2016,0,0,37,NIGER,Yes,Married,No,No,3,0
18391,Sourcing and Purchasing,First Degree or HND,Female,Agency and others,4,1996,7.5,2016,1,0,63,EKITI,No,Married,No,No,1,0
23569,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1977,7.5,2005,1,0,71,BAUCHI,Yes,Married,No,No,1,0
18213,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1993,7.5,2017,0,0,44,ENUGU,Yes,Married,No,No,1,0
14627,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1990,10.0,2013,1,0,76,TARABA,Yes,Married,No,No,2,0
30882,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Agency and others,2,1988,2.5,2010,0,0,52,OSUN,Yes,Married,No,No,0,0
21463,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1992,7.5,2013,0,0,54,DELTA,Yes,Married,No,No,1,0
29780,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Agency and others,3,1984,10.0,2010,0,0,55,RIVERS,Yes,Single,No,No,1,0
15960,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1974,10.0,1998,1,0,49,IMO,Yes,Married,No,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37610,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1961,7.5,2007,0,1,87,ADAMAWA,Yes,Married,No,No,1,1
37644,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1995,10.0,2016,1,0,59,ZAMFARA,Yes,Married,No,No,3,1
37696,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,0.0,2018,0,0,53,DELTA,Yes,Married,No,No,1,1
37722,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1995,12.5,2017,1,0,39,FCT,Yes,Married,No,No,1,1
37726,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1998,10.0,2017,1,0,39,ABIA,Yes,Married,No,No,2,1
37734,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Agency and others,2,1987,12.5,2009,0,0,63,EDO,Yes,Married,No,No,1,1
37735,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1997,7.5,2017,1,1,86,AKWA IBOM,No,Married,No,No,1,1
37754,Information and Strategy,First Degree or HND,Male,Agency and others,4,1991,12.5,2009,0,0,73,KADUNA,Yes,Married,No,No,1,1
37808,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1989,12.5,2012,1,0,40,TARABA,Yes,Married,No,No,0,1
37810,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1982,7.5,2012,1,0,39,PLATEAU,Yes,Married,No,No,0,1
37835,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1996,0.0,2018,1,0,38,DELTA,Yes,Single,No,No,4,1
37851,Information and Strategy,First Degree or HND,Male,Agency and others,2,1994,7.5,2015,1,0,77,EKITI,Yes,Married,No,Yes,1,1
37871,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1998,0.0,2018,0,0,59,EBONYI,Yes,Married,No,Yes,0,1
37875,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1994,0.0,2018,0,0,54,ABIA,Yes,Married,No,No,1,1
37879,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1982,7.5,2008,1,0,40,KWARA,Yes,Married,No,No,0,1
37899,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1998,10.0,2017,1,0,50,BAYELSA,Yes,Married,No,No,1,1
37927,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1997,7.5,2017,1,1,80,BAYELSA,Yes,Married,No,No,1,1
37928,Information and Strategy,First Degree or HND,Female,Agency and others,2,1995,12.5,2014,1,0,76,ENUGU,Yes,Married,No,No,More than 5,1
37945,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1988,12.5,2016,1,0,45,KANO,Yes,Married,No,No,1,1
38015,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1986,10.0,2015,1,1,42,LAGOS,Yes,Married,No,No,3,1
38025,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1993,12.5,2014,1,1,83,RIVERS,Yes,Married,No,Yes,0,1
38037,Information and Strategy,First Degree or HND,Male,Direct Internal process,2,1994,10.0,2016,0,1,77,OSUN,Yes,Married,No,No,1,1
38123,Information and Strategy,First Degree or HND,Male,Agency and others,2,1993,12.5,2014,1,0,78,RIVERS,Yes,Single,No,Yes,3,1
38138,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1995,5.0,2017,0,0,57,AKWA IBOM,Yes,Married,No,No,2,1
38153,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1995,7.5,2017,1,0,39,DELTA,Yes,Married,No,No,1,1
38176,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,7,1996,0.0,2018,1,0,42,OGUN,Yes,Married,No,No,1,1
38215,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1999,12.5,2017,0,0,54,ANAMBRA,Yes,Married,No,No,2,1
38227,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1997,10.0,2016,1,1,84,EDO,Yes,Married,No,No,0,1
38255,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1989,12.5,2014,1,0,40,OYO,Yes,Married,No,No,1,1
38279,People/HR Management,First Degree or HND,Male,Direct Internal process,2,1988,10.0,2011,1,0,40,ABIA,Yes,Married,No,No,5,1

In [126]:
data1= df

In [127]:
data1 = pd.get_dummies(data1)
data = pd.get_dummies(data)

In [128]:
x = data1.drop('Promoted_or_Not',axis =1)
x1 = data.drop('Promoted_or_Not',axis =1)
y = data1['Promoted_or_Not']
y1 = data['Promoted_or_Not']

In [129]:
x1

,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,Division_Business Finance Operations,Division_Commercial Sales and Marketing,Division_Customer Support and Field Operations,...,Past_Disciplinary_Action_Yes,Previous_IntraDepartmental_Movement_No,Previous_IntraDepartmental_Movement_Yes,No_of_previous_employers_0,No_of_previous_employers_1,No_of_previous_employers_2,No_of_previous_employers_3,No_of_previous_employers_4,No_of_previous_employers_5,No_of_previous_employers_More than 5
0,2,1969,10.0,2015,1,0,52,0,0,1,...,0,1,0,0,1,0,0,0,0,0
1,2,1990,5.0,2012,0,0,53,1,0,0,...,0,0,1,1,0,0,0,0,0,0
2,2,1985,10.0,2011,1,0,74,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,2,1990,7.5,2014,1,0,43,0,1,0,...,0,1,0,0,1,0,0,0,0,0
4,5,1988,12.5,2012,0,0,73,0,0,0,...,0,0,1,0,1,0,0,0,0,0
5,3,1992,7.5,2016,1,1,64,0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,2,1990,10.0,2014,1,0,76,0,0,0,...,0,1,0,1,0,0,0,0,0,0
7,3,1991,10.0,2017,1,0,60,0,0,0,...,0,1,0,0,1,0,0,0,0,0
8,2,1991,7.5,2015,1,0,67,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9,2,1985,7.5,2017,0,0,79,0,0,0,...,0,0,1,1,0,0,0,0,0,0
10,2,1968,2.5,2000,0,0,74,0,0,0,...,0,1,0,0,0,0,0,0,1,0
11,2,1989,12.5,2017,1,0,60,0,0,0,...,0,1,0,0,1,0,0,0,0,0
12,2,1988,7.5,2009,1,0,68,0,0,0,...,0,1,0,1,0,0,0,0,0,0
13,2,1993,7.5,2017,0,0,48,1,0,0,...,0,1,0,0,1,0,0,0,0,0
14,2,1986,7.5,2015,0,0,76,0,0,0,...,0,1,0,0,1,0,0,0,0,0
15,2,1985,12.5,2010,1,0,41,0,1,0,...,0,1,0,1,0,0,0,0,0,0
16,2,1979,2.5,2014,1,0,43,0,1,0,...,0,0,1,1,0,0,0,0,0,0
17,2,1987,5.0,2012,1,0,45,0,0,0,...,0,0,1,1,0,0,0,0,0,0
18,2,1983,7.5,2012,0,0,72,0,0,0,...,0,1,0,0,1,0,0,0,0,0
19,2,1995,7.5,2015,0,0,78,0,0,0,...,0,1,0,0,1,0,0,0,0,0
20,2,1988,7.5,2014,0,0,71,0,0,0,...,1,1,0,1,0,0,0,0,0,0
21,2,1993,7.5,2015,0,0,39,0,1,0,...,0,1,0,1,0,0,0,0,0,0
22,2,1992,12.5,2017,1,0,74,0,0,0,...,0,1,0,1,0,0,0,0,0,0
23,2,1989,7.5,2012,0,0,72,0,0,0,...,0,1,0,1,0,0,0,0,0,0
24,3,1991,10.0,2017,0,0,40,0,1,0,...,0,1,0,0,1,0,0,0,0,0
25,2,2001,12.5,2017,0,0,40,0,1,0,...,0,1,0,0,1,0,0,0,0,0
26,2,1990,12.5,2011,1,0,80,0,0,0,...,0,1,0,1,0,0,0,0,0,0
27,2,1965,7.5,2001,0,0,42,0,1,0,...,0,1,0,0,0,0,0,1,0,0
28,3,1978,2.5,2014,0,0,45,0,1,0,...,0,1,0,0,0,0,0,0,0,1
29,2,1994,0.0,2018,1,0,41,0,1,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38280,3,1997,0.0,2018,0,0,39,0,1,0,...,0,1,0,0,0,0,1,0,0,0
38281,2,1999,2.5,2017,0,0,44,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38282,2,1981,2.5,2014,0,0,37,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38283,2,1999,7.5,2017,1,0,41,0,1,0,...,0,1,0,0,1,0,0,0,0,0
38284,2,1989,7.5,2012,0,0,51,0,1,0,...,0,0,1,0,1,0,0,0,0,0
38285,2,1981,10.0,2012,0,0,41,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38286,2,1987,5.0,2014,1,0,39,0,1,0,...,0,0,1,1,0,0,0,0,0,0
38287,2,1994,10.0,2017,0,0,40,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38288,2,1993,12.5,2013,1,0,44,0,1,0,...,0,0,1,1,0,0,0,0,0,0
38289,2,1991,10.0,2016,0,0,41,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38290,2,1989,10.0,2014,1,0,69,0,0,0,...,0,1,0,0,1,0,0,0,0,0
38291,2,1986,7.5,2012,0,1,71,0,0,0,...,0,1,0,1,0,0,0,0,0,0
38292,2,1982,7.5,2007,0,0,74,0,0,0,...,0,0,1,1,0,0,0,0,0,0
38293,2,1998,7.5,2017,0,0,43,0,1,0,...,0,1,0,0,1,0,0,0,0,0
38294,2,1996,10.0,2017,1,0,73,0,0,0,...,0,1,0,0,0,0,0,1,0,0
38295,2,1990,7.5,2015,0,0,39,0,1,0,...,0,1,0,0,0,1,0,0,0,0
38296,2,1996,10.0,2016,1,0,77,0,0,0,...,0,1,0,0,1,0,0,0,0,0
38297,2,1971,7.5,2000,0,0,50,0,0,1,...,0,1,0,0,1,0,0,0,0,0
38298,2,1981,7.5,2007,0,0,48,0,0,1,...,0,1,0,0,1,0,0,0,0,0
38299,2,1988,12.5,2009,1,0,74,0,0,0,...,0,1,0,0,1,0,0,0,0,0
38300,3,1986,12.5,2010,0,0,42,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38301,2,1996,2.5,2017,0,0,77,0,0,0,...,0,1,0,1,0,0,0,0,0,0
38302,2,1994,5.0,2018,0,0,51,0,0,1,...,0,1,0,1,0,0,0,0,0,0
38303,2,1985,2.5,2014,0,0,41,0,1,0,...,0,1,0,0,1,0,0,0,0,0
38304,2,1990,5.0,2013,0,0,73,0,0,0,...,0,1,0,0,1,0,0,0,0,0
38305,3,1996,10.0,2016,0,0,75,0,0,0,...,0,1,0,1,0,0,0,0,0,0
38306,2,1994,7.5,2017,0,0,76,0,0,0,...,0,1,0,1,0,0,0,0,0,0
38307,2,1986,7.5,2012,0,0,45,0,1,0,...,0,1,0,1,0,0,0,0,0,0
38308,2,1993,7.5,2017,0,0,45,0,0,0,...,0,1,0,0,1,0,0,0,0,0
38309,2,1992,2.5,2017,0,0,37,0,1,0,...,0,1,0,0,1,0,0,0,0,0

In [130]:
logit = LogisticRegression()

In [131]:
logit.fit(x,y)

C:\Users\vans\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [132]:
y_pred = logit.predict(x)

In [133]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y,y_pred)
print(confusion_matrix)

[[6072  928]
 [1694 1547]]

In [134]:
cm_df = pd.DataFrame(confusion_matrix)
cm_df.columns = ['predict 0', 'predict 1']
cm_df = cm_df.rename(index = {0: 'actual 0', 1: 'actual 1',})
cm_df

          predict 0  predict 1
actual 0       6072        928
actual 1       1694       1547

In [135]:
from sklearn.ensemble import RandomForestClassifier

In [138]:
 forest = RandomForestClassifier(n_estimators=100, random_state =668,max_depth = 25  )

In [139]:
forest.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=25, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=668,
                       verbose=0, warm_start=False)

In [140]:
m = forest.predict(x)

In [141]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y,m)
print(confusion_matrix)

[[7000    0]
 [  60 3181]]

In [142]:
cm_df = pd.DataFrame(confusion_matrix)
cm_df.columns = ['predict 0', 'predict 1']
cm_df = cm_df.rename(index = {0: 'actual 0', 1: 'actual 1'})
cm_df

          predict 0  predict 1
actual 0       7000          0
actual 1         60       3181

In [143]:
forest.score(x,y)

0.994141197148716

In [144]:
from sklearn.model_selection import train_test_split

In [145]:


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size  = 0.2)

In [146]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.2)

In [147]:
forest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=25, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=668,
                       verbose=0, warm_start=False)

In [148]:
t = forest.predict(x_test)

In [149]:
from sklearn.metrics import confusion_matrix
confusion_matrix1 = confusion_matrix(y_test,t)
print(confusion_matrix1)

[[1305  147]
 [ 291  306]]

In [150]:
cm_df1 = pd.DataFrame(confusion_matrix1)
cm_df1.columns = ['predict 0', 'predict 1']
cm_df1 = cm_df1.rename(index = {0: 'actual 0', 1: 'actual 1'})
cm_df1

          predict 0  predict 1
actual 0       1305        147
actual 1        291        306

In [112]:
z=25789/(25789+9280)
z

0.7353788246029257

In [113]:
v = forest.predict(x1)

In [151]:
from sklearn.metrics import confusion_matrix
confusion_matrix2 = confusion_matrix(y1,v)
print(confusion_matrix2)

[[32151  2918]
 [  309  2932]]

In [86]:
cm_df2 = pd.DataFrame(confusion_matrix2)
cm_df2.columns = ['predict 0', 'predict 1']
cm_df2 = cm_df2.rename(index = {0: 'actual 0', 1: 'actual 1'})
cm_df2

          predict 0  predict 1
actual 0      32319       2750
actual 1        355       2886

In [87]:
test = pd.read_csv('test.csv')

In [40]:
test.describe(include = 'all')

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
count,16496,16496,15766,16496,16496,16496.000000,16496.000000,16496.000000,16496.000000,16496.000000,16496.000000,16496.000000,16496,16496,16496,16496,16496,16496
unique,16496,9,3,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,2,3,2,2,7
top,YAK/S/00586,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAGOS,Yes,Married,No,No,1
freq,1,5145,11091,11616,9136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2755,15086,13448,16417,14954,8060
mean,NaN,NaN,NaN,NaN,NaN,2.251455,1986.161130,7.692016,2013.122393,0.349600,0.023218,55.433863,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,0.608865,7.708188,3.734303,4.273649,0.476858,0.150599,13.392306,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,2.000000,1958.000000,0.000000,1986.000000,0.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,2.000000,1982.000000,5.000000,2011.000000,0.000000,0.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,2.000000,1988.000000,7.500000,2014.000000,0.000000,0.000000,52.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,2.000000,1992.000000,10.000000,2016.000000,1.000000,0.000000,68.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,11.000000,2001.000000,12.500000,2018.000000,1.000000,1.000000,91.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
test.isnull().sum()

EmployeeNo                               0
Division                                 0
Qualification                          730
Gender                                   0
Channel_of_Recruitment                   0
Trainings_Attended                       0
Year_of_birth                            0
Last_performance_score                   0
Year_of_recruitment                      0
Targets_met                              0
Previous_Award                           0
Training_score_average                   0
State_Of_Origin                          0
Foreign_schooled                         0
Marital_Status                           0
Past_Disciplinary_Action                 0
Previous_IntraDepartmental_Movement      0
No_of_previous_employers                 0
dtype: int64

In [110]:
test

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0
5,YAK/S/00019,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,12.5,2011,1,0,38,BENUE,Yes,Married,No,No,1
6,YAK/S/00027,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,12.5,2015,1,0,60,FCT,Yes,Married,No,No,1
7,YAK/S/00028,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,10.0,2015,0,0,71,FCT,Yes,Married,No,No,1
8,YAK/S/00031,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,2,1984,12.5,2009,1,0,64,LAGOS,Yes,Married,No,No,1
9,YAK/S/00032,Business Finance Operations,First Degree or HND,Male,Agency and others,3,1995,2.5,2017,0,0,53,RIVERS,Yes,Married,No,Yes,1
10,YAK/S/00034,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,3,1964,10.0,2013,0,0,50,LAGOS,Yes,Married,No,Yes,0
11,YAK/S/00038,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1981,12.5,2016,0,0,39,FCT,Yes,Single,No,No,1
12,YAK/S/00040,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1988,12.5,2013,1,0,43,OYO,Yes,Married,No,No,1
13,YAK/S/00041,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1987,7.5,2009,0,0,72,KANO,Yes,Single,No,No,1
14,YAK/S/00043,People/HR Management,First Degree or HND,Male,Direct Internal process,2,1962,10.0,1993,1,0,44,RIVERS,Yes,Married,No,No,1
15,YAK/S/00045,Information and Strategy,First Degree or HND,Male,Agency and others,2,1977,12.5,2007,0,0,80,BORNO,Yes,Single,No,No,1
16,YAK/S/00047,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1984,10.0,2015,0,0,63,KATSINA,Yes,Married,No,No,1
17,YAK/S/00049,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,1,0,41,KANO,Yes,Married,No,No,2
18,YAK/S/00050,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Direct Internal process,2,1965,7.5,2007,0,0,65,FCT,Yes,Married,No,No,0
19,YAK/S/00051,Business Finance Operations,First Degree or HND,Male,Direct Internal process,2,2001,10.0,2017,1,0,52,CROSS RIVER,No,Married,No,No,0
20,YAK/S/00058,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1981,7.5,2014,1,0,76,OGUN,Yes,Married,No,No,1
21,YAK/S/00060,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1981,10.0,2012,0,0,44,KADUNA,Yes,Married,No,Yes,1
22,YAK/S/00063,Information and Strategy,First Degree or HND,Female,Agency and others,2,1993,0.0,2018,1,0,72,OYO,Yes,Married,No,No,0
23,YAK/S/00067,Business Finance Operations,First Degree or HND,Male,Agency and others,2,1994,0.0,2018,1,1,50,DELTA,Yes,Married,No,No,2
24,YAK/S/00069,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1991,10.0,2013,1,0,67,FCT,Yes,Married,No,No,1
25,YAK/S/00072,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1987,12.5,2012,1,0,70,LAGOS,Yes,Married,No,Yes,0
26,YAK/S/00080,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,0,0,50,IMO,Yes,Married,No,No,0
27,YAK/S/00083,Commercial Sales and Marketing,NaN,Male,Direct Internal process,3,1996,7.5,2017,0,0,45,FCT,Yes,Married,No,No,1
28,YAK/S/00084,Research and Innovation,First Degree or HND,Male,Agency and others,2,1985,10.0,2011,0,0,74,IMO,Yes,Married,No,No,1
29,YAK/S/00088,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1982,2.5,2010,0,0,41,ONDO,Yes,Married,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16466,YAK/S/54726,Business Finance Operations,First Degree or HND,Female,Agency and others,2,1990,7.5,2011,0,0,51,KADUNA,Yes,Married,No,Yes,1
16467,YAK/S/54738,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,7.5,2012,0,0,58,CROSS RIVER,Yes,Married,No,No,0
16468,YAK/S/54742,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1990,12.5,2014,1,0,45,KANO,Yes,Married,No,Yes,0
16469,YAK/S/54743,Commercial Sales and Marketing,NaN,Male,Agency and others,2,1993,10.0,2016,0,0,39,ENUGU,Yes,Single,No,No,1
16470,YAK/S/54744,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,3,1985,10.0,2016,0,0,73,KWARA,Yes,Single,No,No,0
16471,YAK/S/54748,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1986,5.0,2011,0,0,42,BAUCHI,Yes,Married,No,No,1
16472,YAK/S/54752,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,2,1980,2.5,2009,0,0,72,LAGOS,Yes,Married,No,No,0
16473,YAK/S/54754,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1996,12.5,2017,1,0,51,JIGAWA,Yes,Married,No,No,2
16474,YAK/S/54755,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1979,7.5,2005,0,0,71,KWARA,Yes,Married,No,No,1
16475,YAK/S/54757,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1986,12.5,2015,0,0,55,SOKOTO,Yes,Married,No,No,1
16476,YAK/S/54758,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1967,10.0,2012,0,0,73,KANO,No,Married,No,No,0
16477,YAK/S/54760,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1986,2.5,2009,0,0,43,DELTA,Yes,Married,No,No,3
16478,YAK/S/54762,Sourcing and Purchasing,First Degree or HND,Female,Direct Internal process,2,1991,10.0,2017,1,0,78,ABIA,Yes,Married,No,No,1
16479,YAK/S/54767,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1984,7.5,2016,1,0,47,RIVERS,Yes,Married,No,Yes,0
16480,YAK/S/54768,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1972,10.0,2014,0,0,39,LAGOS,Yes,Married,No,No,1
16481,YAK/S/54773,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Agency and others,2,1984,12.5,2017,1,1,49,EDO,Yes,Single,No,No,1
16482,YAK/S/54776,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,2.5,2015,0,0,52,KWARA,Yes,Married,No,No,0
16483,YAK/S/54778,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1969,5.0,2016,0,0,69,LAGOS,Yes,Single,No,No,0
16484,YAK/S/54780,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1987,7.5,2016,0,0,78,DELTA,Yes,Married,No,No,5
16485,YAK/S/54782,People/HR Management,First Degree or HND,Female,Direct Internal process,2,1983,12.5,2016,1,0,42,KEBBI,No,Single,No,No,4
16486,YAK/S/54784,Sourcing and Purchasing,Non-University Education,Male,Agency and others,4,1998,7.5,2017,0,0,63,OGUN,Yes,Married,No,No,0
16487,YAK/S/54785,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1982,12.5,2010,0,0,40,LAGOS,Yes,Married,No,No,0
16488,YAK/S/54787,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,3,1990,2.5,2015,0,0,43,FCT,Yes,Single,No,No,2
16489,YAK/S/54792,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1989,2.5,2016,1,0,74,PLATEAU,Yes,Married,No,No,1
16490,YAK/S/54795,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,10.0,2012,1,0,46,LAGOS,Yes,Married,No,Yes,1
16491,YAK/S/54797,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1987,7.5,2012,0,0,52,PLATEAU,Yes,Married,No,No,1
16492,YAK/S/54798,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1993,12.5,2016,1,1,39,OGUN,Yes,Single,No,No,0
16493,YAK/S/54800,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1971,12.5,2013,1,1,59,NASSARAWA,Yes,Married,No,No,0
16494,YAK/S/54803,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1990,2.5,2017,0,0,41,OGUN,Yes,Married,No,No,3
16495,YAK/S/54804,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1973,7.5,2002,0,0,70,ANAMBRA,Yes,Married,No,No,1

In [43]:
from sklearn.metrics import roc_auc_score

In [77]:
c = forest.predict_proba(x_test)

In [78]:
c = [n[1] for n in c]

In [80]:
# AUROC of model trained on downsampled datasetPython
# 1
# 2
print( roc_auc_score(y_test, c) )

0.8640766698761727

In [81]:
b=[]
for n in c:
    b.append(n.round(0))

In [82]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,b)
print(confusion_matrix)

[[1263  157]
 [ 293  336]]

In [83]:
cm_df2 = pd.DataFrame(confusion_matrix)
cm_df2.columns = ['predict 0', 'predict 1']
cm_df2 = cm_df2.rename(index = {0: 'actual 0', 1: 'actual 1'})
cm_df2

          predict 0  predict 1
actual 0       1263        157
actual 1        293        336

In [152]:

from sklearn.svm import SVC

In [51]:
from sklearn.tree import DecisionTreeClassifier

In [52]:
from sklearn.datasets import load_breast_cancer
cancer = load_breast_cancer()

In [53]:
cancer

{'data': array([[1.799e+01, 1.038e+01, 1.228e+02, ..., 2.654e-01, 4.601e-01,
         1.189e-01],
        [2.057e+01, 1.777e+01, 1.329e+02, ..., 1.860e-01, 2.750e-01,
         8.902e-02],
        [1.969e+01, 2.125e+01, 1.300e+02, ..., 2.430e-01, 3.613e-01,
         8.758e-02],
        ...,
        [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
         7.820e-02],
        [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
         1.240e-01],
        [7.760e+00, 2.454e+01, 4.792e+01, ..., 0.000e+00, 2.871e-01,
         7.039e-02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
        1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
        1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
        1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
        1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
        1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1]),
 'target_names': array(['malignant', 'benign'], dtype='<U9'),
 'DESCR': '.. _breast_cancer_dataset:\n\nBreast cancer wisconsin (diagnostic) dataset\n--------------------------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 569\n\n    :Number of Attributes: 30 numeric, predictive attributes and the class\n\n    :Attribute Information:\n        - radius (mean of distances from center to points on the perimeter)\n        - texture (standard deviation of gray-scale values)\n        - perimeter\n        - area\n        - smoothness (local variation in radius lengths)\n        - compactness (perimeter^2 / area - 1.0)\n        - concavity (severity of concave portions of the contour)\n        - concave points (number of concave portions of the contour)\n        - symmetry \n        - fractal dimension ("coastline approximation" - 1)\n\n        The mean, standard error, and "worst" or largest (mean of the three\n        largest values) of these features were computed for each image,\n        resulting in 30 features.  For instance, field 3 is Mean Radius, field\n        13 is Radius SE, field 23 is Worst Radius.\n\n        - class:\n                - WDBC-Malignant\n                - WDBC-Benign\n\n    :Summary Statistics:\n\n    ===================================== ====== ======\n                                           Min    Max\n    ===================================== ====== ======\n    radius (mean):                        6.981  28.11\n    texture (mean):                       9.71   39.28\n    perimeter (mean):                     43.79  188.5\n    area (mean):                          143.5  2501.0\n    smoothness (mean):                    0.053  0.163\n    compactness (mean):                   0.019  0.345\n    concavity (mean):                     0.0    0.427\n    concave points (mean):                0.0    0.201\n    symmetry (mean):                      0.106  0.304\n    fractal dimension (mean):             0.05   0.097\n    radius (standard error):              0.112  2.873\n    texture (standard error):             0.36   4.885\n    perimeter (standard error):           0.757  21.98\n    area (standard error):                6.802  542.2\n    smoothness (standard error):          0.002  0.031\n    compactness (standard error):         0.002  0.135\n    concavity (standard error):           0.0    0.396\n    concave points (standard error):      0.0    0.053\n    symmetry (standard error):            0.008  0.079\n    fractal dimension (standard error):   0.001  0.03\n    radius (worst):                       7.93   36.04\n    texture (worst):                      12.02  49.54\n    perimeter (worst):                    50.41  251.2\n    area (worst):                         185.2  4254.0\n    smoothness (worst):                   0.071  0.223\n    compactness (worst):                  0.027  1.058\n    concavity (worst):                    0.0    1.252\n    concave points (worst):               0.0    0.291\n    symmetry (worst):                     0.156  0.664\n    fractal dimension (worst):            0.055  0.208\n    ===================================== ====== ======\n\n    :Missing Attribute Values: None\n\n    :Class Distribution: 212 - Malignant, 357 - Benign\n\n    :Creator:  Dr. William H. Wolberg, W. Nick Street, Olvi L. Mangasarian\n\n    :Donor: Nick Street\n\n    :Date: November, 1995\n\nThis is a copy of UCI ML Breast Cancer Wisconsin (Diagnostic) datasets.\nhttps://goo.gl/U2Uwz2\n\nFeatures are computed from a digitized image of a fine needle\naspirate (FNA) of a breast mass.  They describe\ncharacteristics of the cell nuclei present in the image.\n\nSeparating plane described above was obtained using\nMultisurface Method-Tree (MSM-T) [K. P. Bennett, "Decision Tree\nConstruction Via Linear Programming." Proceedings of the 4th\nMidwest Artificial Intelligence and Cognitive Science Society,\npp. 97-101, 1992], a classification method which uses linear\nprogramming to construct a decision tree.  Relevant features\nwere selected using an exhaustive search in the space of 1-4\nfeatures and 1-3 separating planes.\n\nThe actual linear program used to obtain the separating plane\nin the 3-dimensional space is that described in:\n[K. P. Bennett and O. L. Mangasarian: "Robust Linear\nProgramming Discrimination of Two Linearly Inseparable Sets",\nOptimization Methods and Software 1, 1992, 23-34].\n\nThis database is also available through the UW CS ftp server:\n\nftp ftp.cs.wisc.edu\ncd math-prog/cpo-dataset/machine-learn/WDBC/\n\n.. topic:: References\n\n   - W.N. Street, W.H. Wolberg and O.L. Mangasarian. Nuclear feature extraction \n     for breast tumor diagnosis. IS&T/SPIE 1993 International Symposium on \n     Electronic Imaging: Science and Technology, volume 1905, pages 861-870,\n     San Jose, CA, 1993.\n   - O.L. Mangasarian, W.N. Street and W.H. Wolberg. Breast cancer diagnosis and \n     prognosis via linear programming. Operations Research, 43(4), pages 570-577, \n     July-August 1995.\n   - W.H. Wolberg, W.N. Street, and O.L. Mangasarian. Machine learning techniques\n     to diagnose breast cancer from fine-needle aspirates. Cancer Letters 77 (1994) \n     163-171.',
 'feature_names': array(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
        'mean smoothness', 'mean compactness', 'mean concavity',
        'mean concave points', 'mean symmetry', 'mean fractal dimension',
        'radius error', 'texture error', 'perimeter error', 'area error',
        'smoothness error', 'compactness error', 'concavity error',
        'concave points error', 'symmetry error',
        'fractal dimension error', 'worst radius', 'worst texture',
        'worst perimeter', 'worst area', 'worst smoothness',
        'worst compactness', 'worst concavity', 'worst concave points',
        'worst symmetry', 'worst fractal dimension'], dtype='<U23'),
 'filename': 'C:\\Users\\vans\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\breast_cancer.csv'}

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(cancer.data, cancer.target, stratify =  cancer.target, random_state=32 )

In [55]:
dtree = DecisionTreeClassifier(max_depth = 4, random_state= 0)

In [56]:
dtree.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [57]:
print('Accuracy on training set: {:.3f}'.format(dtree.score(X_train,Y_train)))

Accuracy on training set: 0.986

In [58]:
print('Accuracy on test set: {:.3f}'.format(dtree.score(X_test,Y_test)))

Accuracy on test set: 0.916

In [177]:
print('feature importance tree:\n{}'.format(forest.feature_importances_))

feature importance tree:
[0.01624347 0.0698307  0.07065474 0.05967536 0.12700947 0.04729284
 0.19695347 0.0059138  0.0222078  0.01421776 0.0095929  0.00909137
 0.00427016 0.00259854 0.00376811 0.00932383 0.01023898 0.00955934
 0.00163055 0.01168047 0.01063535 0.0138469  0.01331033 0.00498868
 0.00390858 0.00266356 0.00359513 0.0066745  0.00304382 0.0014149
 0.00322967 0.00221014 0.00274045 0.00573425 0.00140112 0.00473533
 0.00217406 0.00466138 0.00678478 0.00253568 0.00520364 0.0016704
 0.00553235 0.00674881 0.00350817 0.00255596 0.0026814  0.0032529
 0.01232553 0.00359051 0.00443124 0.00699718 0.00476776 0.00523458
 0.00587959 0.00342143 0.0074894  0.00403316 0.00215613 0.0018376
 0.00193888 0.00720521 0.0066096  0.01038665 0.00201183 0.01032883
 0.00088675 0.00096577 0.00693398 0.00650512 0.01400198 0.0143196
 0.00596649 0.0051795  0.00574739 0.00355492 0.00209748]

In [154]:
from sklearn.ensemble import GradientBoostingClassifier

In [174]:
gbrt = GradientBoostingClassifier(n_estimators= 140 ,random_state=0, max_depth = 5, learning_rate =.5)
gbrt.fit(x,y)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.5, loss='deviance', max_depth=5,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=140,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [175]:
h = gbrt.predict(x1)

In [176]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y1,h)
print(confusion_matrix)

[[31298  3771]
 [  230  3011]]

In [89]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y, random_state=32, test_size = 0.2)

In [89]:
test2 = pd.read_csv('test2.csv', index_col ='Unnamed: 0')

In [90]:
test2

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0
5,YAK/S/00019,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,12.5,2011,1,0,38,BENUE,Yes,Married,No,No,1
6,YAK/S/00027,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,12.5,2015,1,0,60,FCT,Yes,Married,No,No,1
7,YAK/S/00028,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,10.0,2015,0,0,71,FCT,Yes,Married,No,No,1
8,YAK/S/00031,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,2,1984,12.5,2009,1,0,64,LAGOS,Yes,Married,No,No,1
9,YAK/S/00032,Business Finance Operations,First Degree or HND,Male,Agency and others,3,1995,2.5,2017,0,0,53,RIVERS,Yes,Married,No,Yes,1
10,YAK/S/00034,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,3,1964,10.0,2013,0,0,50,LAGOS,Yes,Married,No,Yes,0
11,YAK/S/00038,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1981,12.5,2016,0,0,39,FCT,Yes,Single,No,No,1
12,YAK/S/00040,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1988,12.5,2013,1,0,43,OYO,Yes,Married,No,No,1
13,YAK/S/00041,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1987,7.5,2009,0,0,72,KANO,Yes,Single,No,No,1
14,YAK/S/00043,People/HR Management,First Degree or HND,Male,Direct Internal process,2,1962,10.0,1993,1,0,44,RIVERS,Yes,Married,No,No,1
15,YAK/S/00045,Information and Strategy,First Degree or HND,Male,Agency and others,2,1977,12.5,2007,0,0,80,BORNO,Yes,Single,No,No,1
16,YAK/S/00047,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1984,10.0,2015,0,0,63,KATSINA,Yes,Married,No,No,1
17,YAK/S/00049,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,1,0,41,KANO,Yes,Married,No,No,2
18,YAK/S/00050,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Direct Internal process,2,1965,7.5,2007,0,0,65,FCT,Yes,Married,No,No,0
19,YAK/S/00051,Business Finance Operations,First Degree or HND,Male,Direct Internal process,2,2001,10.0,2017,1,0,52,CROSS RIVER,No,Married,No,No,0
20,YAK/S/00058,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1981,7.5,2014,1,0,76,OGUN,Yes,Married,No,No,1
21,YAK/S/00060,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1981,10.0,2012,0,0,44,KADUNA,Yes,Married,No,Yes,1
22,YAK/S/00063,Information and Strategy,First Degree or HND,Female,Agency and others,2,1993,0.0,2018,1,0,72,OYO,Yes,Married,No,No,0
23,YAK/S/00067,Business Finance Operations,First Degree or HND,Male,Agency and others,2,1994,0.0,2018,1,1,50,DELTA,Yes,Married,No,No,2
24,YAK/S/00069,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1991,10.0,2013,1,0,67,FCT,Yes,Married,No,No,1
25,YAK/S/00072,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1987,12.5,2012,1,0,70,LAGOS,Yes,Married,No,Yes,0
26,YAK/S/00080,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,0,0,50,IMO,Yes,Married,No,No,0
27,YAK/S/00083,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1996,7.5,2017,0,0,45,FCT,Yes,Married,No,No,1
28,YAK/S/00084,Research and Innovation,First Degree or HND,Male,Agency and others,2,1985,10.0,2011,0,0,74,IMO,Yes,Married,No,No,1
29,YAK/S/00088,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1982,2.5,2010,0,0,41,ONDO,Yes,Married,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16466,YAK/S/54726,Business Finance Operations,First Degree or HND,Female,Agency and others,2,1990,7.5,2011,0,0,51,KADUNA,Yes,Married,No,Yes,1
16467,YAK/S/54738,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,7.5,2012,0,0,58,CROSS RIVER,Yes,Married,No,No,0
16468,YAK/S/54742,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1990,12.5,2014,1,0,45,KANO,Yes,Married,No,Yes,0
16469,YAK/S/54743,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1993,10.0,2016,0,0,39,ENUGU,Yes,Single,No,No,1
16470,YAK/S/54744,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,3,1985,10.0,2016,0,0,73,KWARA,Yes,Single,No,No,0
16471,YAK/S/54748,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1986,5.0,2011,0,0,42,BAUCHI,Yes,Married,No,No,1
16472,YAK/S/54752,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,2,1980,2.5,2009,0,0,72,LAGOS,Yes,Married,No,No,0
16473,YAK/S/54754,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1996,12.5,2017,1,0,51,JIGAWA,Yes,Married,No,No,2
16474,YAK/S/54755,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1979,7.5,2005,0,0,71,KWARA,Yes,Married,No,No,1
16475,YAK/S/54757,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1986,12.5,2015,0,0,55,SOKOTO,Yes,Married,No,No,1
16476,YAK/S/54758,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1967,10.0,2012,0,0,73,KANO,No,Married,No,No,0
16477,YAK/S/54760,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1986,2.5,2009,0,0,43,DELTA,Yes,Married,No,No,3
16478,YAK/S/54762,Sourcing and Purchasing,First Degree or HND,Female,Direct Internal process,2,1991,10.0,2017,1,0,78,ABIA,Yes,Married,No,No,1
16479,YAK/S/54767,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1984,7.5,2016,1,0,47,RIVERS,Yes,Married,No,Yes,0
16480,YAK/S/54768,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1972,10.0,2014,0,0,39,LAGOS,Yes,Married,No,No,1
16481,YAK/S/54773,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Agency and others,2,1984,12.5,2017,1,1,49,EDO,Yes,Single,No,No,1
16482,YAK/S/54776,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,2.5,2015,0,0,52,KWARA,Yes,Married,No,No,0
16483,YAK/S/54778,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1969,5.0,2016,0,0,69,LAGOS,Yes,Single,No,No,0
16484,YAK/S/54780,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1987,7.5,2016,0,0,78,DELTA,Yes,Married,No,No,5
16485,YAK/S/54782,People/HR Management,First Degree or HND,Female,Direct Internal process,2,1983,12.5,2016,1,0,42,KEBBI,No,Single,No,No,4
16486,YAK/S/54784,Sourcing and Purchasing,Non-University Education,Male,Agency and others,4,1998,7.5,2017,0,0,63,OGUN,Yes,Married,No,No,0
16487,YAK/S/54785,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1982,12.5,2010,0,0,40,LAGOS,Yes,Married,No,No,0
16488,YAK/S/54787,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,3,1990,2.5,2015,0,0,43,FCT,Yes,Single,No,No,2
16489,YAK/S/54792,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1989,2.5,2016,1,0,74,PLATEAU,Yes,Married,No,No,1
16490,YAK/S/54795,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,10.0,2012,1,0,46,LAGOS,Yes,Married,No,Yes,1
16491,YAK/S/54797,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1987,7.5,2012,0,0,52,PLATEAU,Yes,Married,No,No,1
16492,YAK/S/54798,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1993,12.5,2016,1,1,39,OGUN,Yes,Single,No,No,0
16493,YAK/S/54800,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1971,12.5,2013,1,1,59,NASSARAWA,Yes,Married,No,No,0
16494,YAK/S/54803,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1990,2.5,2017,0,0,41,OGUN,Yes,Married,No,No,3
16495,YAK/S/54804,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1973,7.5,2002,0,0,70,ANAMBRA,Yes,Married,No,No,1

In [100]:
test3 = test2.drop('EmployeeNo', axis =1)

In [102]:
test3

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0
5,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,12.5,2011,1,0,38,BENUE,Yes,Married,No,No,1
6,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,12.5,2015,1,0,60,FCT,Yes,Married,No,No,1
7,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,10.0,2015,0,0,71,FCT,Yes,Married,No,No,1
8,Sourcing and Purchasing,First Degree or HND,Male,Direct Internal process,2,1984,12.5,2009,1,0,64,LAGOS,Yes,Married,No,No,1
9,Business Finance Operations,First Degree or HND,Male,Agency and others,3,1995,2.5,2017,0,0,53,RIVERS,Yes,Married,No,Yes,1
10,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,3,1964,10.0,2013,0,0,50,LAGOS,Yes,Married,No,Yes,0
11,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1981,12.5,2016,0,0,39,FCT,Yes,Single,No,No,1
12,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1988,12.5,2013,1,0,43,OYO,Yes,Married,No,No,1
13,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1987,7.5,2009,0,0,72,KANO,Yes,Single,No,No,1
14,People/HR Management,First Degree or HND,Male,Direct Internal process,2,1962,10.0,1993,1,0,44,RIVERS,Yes,Married,No,No,1
15,Information and Strategy,First Degree or HND,Male,Agency and others,2,1977,12.5,2007,0,0,80,BORNO,Yes,Single,No,No,1
16,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1984,10.0,2015,0,0,63,KATSINA,Yes,Married,No,No,1
17,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,1,0,41,KANO,Yes,Married,No,No,2
18,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Direct Internal process,2,1965,7.5,2007,0,0,65,FCT,Yes,Married,No,No,0
19,Business Finance Operations,First Degree or HND,Male,Direct Internal process,2,2001,10.0,2017,1,0,52,CROSS RIVER,No,Married,No,No,0
20,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1981,7.5,2014,1,0,76,OGUN,Yes,Married,No,No,1
21,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1981,10.0,2012,0,0,44,KADUNA,Yes,Married,No,Yes,1
22,Information and Strategy,First Degree or HND,Female,Agency and others,2,1993,0.0,2018,1,0,72,OYO,Yes,Married,No,No,0
23,Business Finance Operations,First Degree or HND,Male,Agency and others,2,1994,0.0,2018,1,1,50,DELTA,Yes,Married,No,No,2
24,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1991,10.0,2013,1,0,67,FCT,Yes,Married,No,No,1
25,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1987,12.5,2012,1,0,70,LAGOS,Yes,Married,No,Yes,0
26,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1991,7.5,2016,0,0,50,IMO,Yes,Married,No,No,0
27,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1996,7.5,2017,0,0,45,FCT,Yes,Married,No,No,1
28,Research and Innovation,First Degree or HND,Male,Agency and others,2,1985,10.0,2011,0,0,74,IMO,Yes,Married,No,No,1
29,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1982,2.5,2010,0,0,41,ONDO,Yes,Married,No,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16466,Business Finance Operations,First Degree or HND,Female,Agency and others,2,1990,7.5,2011,0,0,51,KADUNA,Yes,Married,No,Yes,1
16467,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1990,7.5,2012,0,0,58,CROSS RIVER,Yes,Married,No,No,0
16468,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1990,12.5,2014,1,0,45,KANO,Yes,Married,No,Yes,0
16469,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1993,10.0,2016,0,0,39,ENUGU,Yes,Single,No,No,1
16470,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,3,1985,10.0,2016,0,0,73,KWARA,Yes,Single,No,No,0
16471,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1986,5.0,2011,0,0,42,BAUCHI,Yes,Married,No,No,1
16472,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Agency and others,2,1980,2.5,2009,0,0,72,LAGOS,Yes,Married,No,No,0
16473,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1996,12.5,2017,1,0,51,JIGAWA,Yes,Married,No,No,2
16474,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1979,7.5,2005,0,0,71,KWARA,Yes,Married,No,No,1
16475,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1986,12.5,2015,0,0,55,SOKOTO,Yes,Married,No,No,1
16476,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,2,1967,10.0,2012,0,0,73,KANO,No,Married,No,No,0
16477,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1986,2.5,2009,0,0,43,DELTA,Yes,Married,No,No,3
16478,Sourcing and Purchasing,First Degree or HND,Female,Direct Internal process,2,1991,10.0,2017,1,0,78,ABIA,Yes,Married,No,No,1
16479,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1984,7.5,2016,1,0,47,RIVERS,Yes,Married,No,Yes,0
16480,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1972,10.0,2014,0,0,39,LAGOS,Yes,Married,No,No,1
16481,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Agency and others,2,1984,12.5,2017,1,1,49,EDO,Yes,Single,No,No,1
16482,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,2.5,2015,0,0,52,KWARA,Yes,Married,No,No,0
16483,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1969,5.0,2016,0,0,69,LAGOS,Yes,Single,No,No,0
16484,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1987,7.5,2016,0,0,78,DELTA,Yes,Married,No,No,5
16485,People/HR Management,First Degree or HND,Female,Direct Internal process,2,1983,12.5,2016,1,0,42,KEBBI,No,Single,No,No,4
16486,Sourcing and Purchasing,Non-University Education,Male,Agency and others,4,1998,7.5,2017,0,0,63,OGUN,Yes,Married,No,No,0
16487,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1982,12.5,2010,0,0,40,LAGOS,Yes,Married,No,No,0
16488,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,3,1990,2.5,2015,0,0,43,FCT,Yes,Single,No,No,2
16489,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1989,2.5,2016,1,0,74,PLATEAU,Yes,Married,No,No,1
16490,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,10.0,2012,1,0,46,LAGOS,Yes,Married,No,Yes,1
16491,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1987,7.5,2012,0,0,52,PLATEAU,Yes,Married,No,No,1
16492,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1993,12.5,2016,1,1,39,OGUN,Yes,Single,No,No,0
16493,Sourcing and Purchasing,"MSc, MBA and PhD",Female,Agency and others,2,1971,12.5,2013,1,1,59,NASSARAWA,Yes,Married,No,No,0
16494,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1990,2.5,2017,0,0,41,OGUN,Yes,Married,No,No,3
16495,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1973,7.5,2002,0,0,70,ANAMBRA,Yes,Married,No,No,1

In [103]:
test4 = pd.get_dummies(test3)

In [104]:
predicted_test = forest.predict(test4)

In [106]:
Summision = pd.DataFrame(test['EmployeeNo'])

In [108]:
Summision['Promoted_or_Not'] = predicted_test

In [109]:
Summision

        EmployeeNo  Promoted_or_Not
0      YAK/S/00005                0
1      YAK/S/00011                0
2      YAK/S/00015                0
3      YAK/S/00016                0
4      YAK/S/00017                1
5      YAK/S/00019                0
6      YAK/S/00027                1
7      YAK/S/00028                0
8      YAK/S/00031                0
9      YAK/S/00032                0
10     YAK/S/00034                0
11     YAK/S/00038                0
12     YAK/S/00040                0
13     YAK/S/00041                0
14     YAK/S/00043                0
15     YAK/S/00045                0
16     YAK/S/00047                0
17     YAK/S/00049                1
18     YAK/S/00050                0
19     YAK/S/00051                0
20     YAK/S/00058                0
21     YAK/S/00060                0
22     YAK/S/00063                0
23     YAK/S/00067                1
24     YAK/S/00069                1
25     YAK/S/00072                1
26     YAK/S/00080                0
27     YAK/S/00083                0
28     YAK/S/00084                0
29     YAK/S/00088                0
...            ...              ...
16466  YAK/S/54726                0
16467  YAK/S/54738                0
16468  YAK/S/54742                0
16469  YAK/S/54743                0
16470  YAK/S/54744                0
16471  YAK/S/54748                0
16472  YAK/S/54752                0
16473  YAK/S/54754                0
16474  YAK/S/54755                0
16475  YAK/S/54757                0
16476  YAK/S/54758                0
16477  YAK/S/54760                0
16478  YAK/S/54762                1
16479  YAK/S/54767                1
16480  YAK/S/54768                0
16481  YAK/S/54773                1
16482  YAK/S/54776                0
16483  YAK/S/54778                0
16484  YAK/S/54780                0
16485  YAK/S/54782                0
16486  YAK/S/54784                0
16487  YAK/S/54785                0
16488  YAK/S/54787                0
16489  YAK/S/54792                0
16490  YAK/S/54795                0
16491  YAK/S/54797                1
16492  YAK/S/54798                1
16493  YAK/S/54800                1
16494  YAK/S/54803                0
16495  YAK/S/54804                0

[16496 rows x 2 columns]

In [112]:
Summision.to_csv('Submission.csv', index =False)

In [120]:
Summision.Promoted_or_Not.value_counts()

0    14280
1     2216
Name: Promoted_or_Not, dtype: int64